* {
    /* direction: rtl; */
    /* font-family: Vazirmatn; */
    box-sizing: border-box;
    margin: 0;
}

.bodybricks{
background-color: rgb(205, 205, 205);
}

.picNavbricks{
     width:100%
}

.indexbricks{
    z-index:4;
    width:320px;
}

.underlinebricks{
    text-decoration: none;

}

.navsidebar{
    z-index:4;
    width:320px;
}

