* {
    /* direction: rtl; */
    /* font-family: Vazirmatn; */
    box-sizing: border-box;
    margin: 0;
}

.bodybricks{
background-color: rgb(205, 205, 205);
}

.picNavbricks{
     width:100%
}

.indexbricks{
    z-index:4;
    width:320px;
}

.underlinebricks{
    text-decoration: none;
}

.navsidebar{
    z-index:4;
    width:320px;
}

/* .whitecolor{
    color:#000;
    background-color:#fff;
} */
/* bg-light text-dark */

/* .collapse{ display:block
} */

.contentimagebricks{
    width:15%
}